* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #356f36;
    --dark-green: #1f4928;
    --shadow:var(--shadow);
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
}

.navbar {
    height: 92px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 0 4.5%;
    gap: 40px;
}

.Cname {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: var(--dark-green)
}

.brand-logo {
    width: 70px;
    height: 60px;
    object-fit: contain;
}

.Cname strong {
    display: block;
    font-size: 23px;
    letter-spacing: 3px;
}

.Cname small {
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 3px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 45px;
    flex: 1;
    justify-content: center;
}


.navbar nav a {
    text-decoration: none;
    font-size: 16px;
    color: var(--dark-green);
}

.navbar nav a:hover {
    color: var(--green);
    font-weight: 700;
}

.nav-acts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.s-icon-btn {
    width: 40px;
    height:40px;
    border: none;
    background: none;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.s-icon-btn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.login-btn {
    background-color: white;
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    padding:8px 28px;
    font-size: 16px;
    font-weight: 6px;
    cursor: pointer;
}

.signup-btn {
    background-color: var(--dark-green);
    color: white;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    padding: 8px 28px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: white;
}

.signup-btn:hover {
    background-color: var(--dark-green);
}

.hero {
    min-height: 600px;
    background-image: url("home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.5) 70%);
    z-index: 1;
}
.hero-content {
    position: relative;
    color: white;
    margin: 95px 0 0 7.5%;
    z-index: 2;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.18;
    font-weight: 800;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.hero p {
   font-size: 27px;
   line-height: 1.4;
   margin-top: 25px;
   color: white;
}

.search-bar{
    position: absolute;
    z-index: 4;
    bottom: 35px;
    left: 3%;
    right: 3%;
    background: white;
    border: 10px solid rgba(255, 255, 255, 0.75);
    border-radius: 55px;
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    1.02fr;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.20);
}

.search-bar label {
    padding: 13px 27px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar label span{
    font-size: 14px;
    font-weight: 800;
    color: var(--dark-green);
}

.search-bar select, .search-bar input {
    width:100%;
    border: none;
    outline: none;
    background: transparent;
    color: gray;
    font-size: 15px;
}

.search-bar select {
    cursor: pointer;
}

.search-bar input::placeholder {
    color: gray
}

.search-submit{
    border-radius: 40px;
    color: white;
    font-weight: 700;
    margin: 4px;
    background: var(--green);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.search-submit:hover {
    background-color: var(--dark-green)
}

.search-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.section {
    padding: 55px 4%;
}

.section-heading h2 {
    font-size: 36px;
    color: var(--green);
    margin-bottom: 25px;
}

.featured {
    background: white;
}

.category-tabs{
    height: 55px;
    border: 2px solid gray;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background: white;
    overflow-x: auto;
}

.category-tabs button {
    border: none;
    background: transparent;
    color: var(--dark-green);
    padding: 13px 19px;
    white-space: nowrap;
    transition: 0.2s;
}

.category-tabs button:hover {
    color: var(--green);
    font-weight: 800;
    text-decoration: underline;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 30px;
}

.property-card  {
    background: white;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: 0.25s;
}

.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
}

.property-image {
    height: 190px;
    width: 100%;
    overflow: hidden;
}

.property-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.property-info {
    padding: 16px 20px 20px;
}

.property-info h3{
    margin: 0 0 5px;
    font-size: 22px;
    color: var(--green);
    font-weight: 700;
}

.property-location {
    margin: 0 0 8px;
    font-size: 15px;
    color: var(--green);
    font-size: 14px;
}

.property-price {
    display: block;
    font-size: 21px;
    color: var(--green);
    font-weight: 700;
}

.view-all {
    display: block;
    width: fit-content;
    margin: 35px auto 0;
    padding: 12px 50px;
    background-color: white;
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.view-all:hover {
    background-color: var(--green);
    color: white;
}

.about {
    width: 100%;
    padding: 70px 6%;
    background-color: white;
}

.about-content {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    gap: 70px;
    max-width: 1400px;
    margin: 0 auto;
}

.about-text h2 {
    margin: 0 0 25px;
    font-size: 48px;
    color: var(--green);
    font-weight: 700;
}

.about-text p {
    margin: 0 0 20px;
    max-width: 750px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--dark-green);
    text-align: justify;
}

.learn-more {
    margin-top: 15px;
    padding: 14px 32px;

    background-color: var(--green);
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 17px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s ease;
}

.learn-more span {
    margin-left: 10px;
    font-size: 22px;
}

.learn-more:hover {
    background-color: var(--dark-green);
}

.about-image {
    width: 100%;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.feedback {
    width: 100%;
    padding: 70px 6%;
    background-color: white;
}

.feedback-heading {
    text-align: center;
    margin-bottom: 40px;
}

.feedback-heading h2 {
    margin: 0 0 12px;
    font-size: 42px;
    color: var(--green);
    font-weight: 700;
}

.feedback-heading p {
    margin: 0;
    font-size: 17px;
    color: gray;
}

.feedback-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feedback-card {
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.feedback-stars {
    color: #d5a928;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 18px;
}

.feedback-text {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.6;
    color: gray;
    text-align: justify;
}


.client-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.client-avatar {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--green);
    color: white;

    border-radius: 50%;
    font-size: 17px;
    font-weight: 700;
}

.client-info strong {
    display: block;
    color: var(--green);
    font-size: 15px;
}

.client-info span {
    display: block;
    margin-top: 3px;
    font-size: 13px;
    color: gray;
}


.contact {
    width: 100%;
    padding: 70px 6%;
    background-color: white;
    margin-bottom: 300px;
}

.contact-content {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.contact-content h2 {
    margin: 0 0 15px;
    font-size: 42px;
    color: var(--green);
    font-weight: 700;
}

.contact-content > p {
    max-width: 650px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
    color: gray
}

/*pagud naman*/

h5 {
    text-align: center;
    font-size: large;
    color: var(--dark-green);
    padding-bottom: 300px;
}

.contact-btn {
    padding: 14px 38px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.contact-btn:hover {
    background-color: var(--dark-green);
}

.footer {
    background-color: var(--dark-green);
    color: white;
}

.footer-top {
    display: grid;
    grid-template-columns:
        1.3fr
        1fr
        1.2fr;
    gap: 80px;
    padding: 60px 5% 50px;
}

.footer h3 {
    font-size: 25px;
    margin: 0 0 17px;
    color: white;
}

.footer p {
    margin: 0;
    line-height: 1.75;
    color: white;
}

.footer-about p {
    max-width: 400px;
}

.footer-links-column a {
    display: block;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
    line-height: 1.75;
    transition: 0.2s ease;
}

.footer-links-column a:hover {
    color: white;
}

.footer-contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.footer-contact-item img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.footer-contact-item p {
    margin: 0;
    color: white;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    padding: 28px 3%;
    display: grid;
    grid-template-columns:
        1fr
        auto
        1fr;
    align-items: center;
    gap: 20px;

}

.footer-bottom > span {
    color: white;
    font-size: 14px;
}

.socials {
    display: flex;
    gap: 12px;
}


.socials a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-green);
    text-decoration: none;
    transition: 0.2s ease;
}


.socials a:hover {
    transform: translateY(-3px);
}

.socials img {
    width: 21px;
    height: 21px;
    object-fit: contain;
}

.legal {
    display: flex;
    gap: 28px;
    justify-content: flex-end;

}


.legal a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease;

}

.legal a:hover {
    color: white;
}