* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #356f36;
    --dark-green: #1f4928;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
}

.navbar {
    height: 92px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 0 4.5%;
    gap: 40px;
}

.Cname {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: var(--dark-green)
}

.brand-logo {
    width: 70px;
    height: 60px;
    object-fit: contain;
}

.Cname strong {
    display: block;
    font-size: 23px;
    letter-spacing: 3px;
}

.Cname small {
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 3px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 45px;
    flex: 1;
    justify-content: center;
}


.navbar nav a {
    text-decoration: none;
    font-size: 16px;
    color: var(--dark-green);
}

.navbar nav a:hover {
    color: var(--green);
    font-weight: 700;
}

.nav-acts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.s-icon-btn {
    width: 40px;
    height:40px;
    border: none;
    background: none;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.s-icon-btn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.login-btn {
    background-color: white;
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    padding:8px 28px;
    font-size: 16px;
    font-weight: 6px;
    cursor: pointer;
}

.signup-btn {
    background-color: var(--dark-green);
    color: white;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    padding: 8px 28px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: white;
}

.signup-btn:hover {
    background-color: var(--dark-green);
}

.hero {
    min-height: 600px;
    background-image: url("home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.5) 70%);
    z-index: 1;
}
.hero-content {
    position: relative;
    color: white;
    margin: 95px 0 0 7.5%;
    z-index: 2;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.18;
    font-weight: 800;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.hero p {
   font-size: 27px;
   line-height: 1.4;
   margin-top: 25px;
   color: white;
}

.search-bar{
    position: absolute;
    z-index: 4;
    bottom: 35px;
    left: 3%;
    right: 3%;
    background: white;
    border: 10px solid rgba(255, 255, 255, 0.75);
    border-radius: 55px;
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    1.02fr;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.20);
}

.search-bar label {
    padding: 13px 27px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar label span{
    font-size: 14px;
    font-weight: 800;
    color: var(--dark-green);
}

.search-bar select, .search-bar input {
    width:100%;
    border: none;
    outline: none;
    background: transparent;
    color: gray;
    font-size: 15px;
}

.search-bar select {
    cursor: pointer;
}

.search-bar input::placeholder {
    color: gray
}

.search-submit{
    border-radius: 40px;
    color: white;
    font-weight: 700;
    margin: 4px;
    background: var(--green);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.search-submit:hover {
    background-color: var(--dark-green)
}

.search-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}



