background-color {
    color:rgb(219, 255, 214)
}

p {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;
}

.header {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;

.register{
    background-color: #ffffff;
    right: 90px;
    top: 100px;
    width: 90%;
}

