body {
    background-color: #f6f8ed;
    color: rgb(17, 17, 17);
    padding: 10px;
    text-align: left;
}

p {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: left;
}

.header {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
}

.qoute {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;
}

.qoute-text {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;
}

.login-form {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;
    position: absolute;
}

.register{
    background-color: #ffffff;
    right: 90px;
    top: 100px;
    width: 90%;
}

.forgot-password {
    background-color: #ffffff;
    right: 90px;
    top: 100px;
    width: 90%;
}
