body {
    background-color: #f0f0f7;
}

.header {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;
}

.nav{
    background-color: #ffffff;
    right: 90px;
    top: 100px;
    width: 90%;

}