body {
    background-color: #f0f0f7;
}

.header {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 10px;
    text-align: left;
}

.nav{
    background-color: #ffffff;
    overflow: hidden;
    text

}