body {
    background-color: #f0f0f7;
}

.header {
    background-color: #ffffff;
    color: rgb(60, 255, 0);
    padding: 20px;
    text-align: left;
}

.navigation {
    background-color: #fd0a0a;
    overflow: hidden;

}